<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../home.css">
    <style>
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
margin: 0px;
padding: 0px;
/* background-image: url(images/homebg1.jpg); */
background-size: auto (default)
}
body::before{
content: "";
background: url(../images/newbg.jpg) no-repeat center center/cover;
width: 100%;
height: 105%;
top: 0px;
left: 0px;
position: absolute;
z-index: -1;
opacity: 0.01;
}
.advice{
    color: rgb(77,34,9);
    font-weight: bold;
    font-size: 20px;
}
	</style
</head>
<body style="background-image: url(./bg3.jpg);">
    <div class="advice">
        <link rel="stylesheet" href="../advisory.css">
<div class="advice"></div>
            <h1  id="harvest">Harvesting</h1>
            <p>
                Harvesting is the process of collecting the mature rice crop from the ﬁeld. Paddy harvesting activities include reaping, stacking, handling, threshing, cleaning, and hauling. These can be done individually or a combine harvester can be used to perform the operations simultaneously.
It is important to apply good harvesting methods to be able to maximize grain yield, and minimize grain damage and quality deterioration.
Harvesting rice consists of the basic operations which can be done in individual steps or in combination using a combine harvester. These include:
• Reaping - cutting the mature panicles and straw above ground
• Threshing - separating the paddy grain from the rest of cut crop
• Cleaning - removing immature, unﬁlled, non-grain materials
• Hauling - moving the cut crop to the threshing location
• Field drying - leaving the cut crop in the ﬁeld and exposing it to the sun for drying (optional)
• Stacking/piling - temporarily storing the harvested crop in stacks or piles (optional)
• Bagging - putting the threshed grain in bags for transport and storage

Traditional harvesting activities such as ﬁeld drying and stacking/piling are not recommended because they can lead to rapid quality deterioration and increased harvest losses.
Besides these, a variety of other activities can be included in harvesting such as gathering, reaping (gathering standing grain by cutting), bundling, and various forms of transporting the crop and grain.
            </p>
      </div>      
        
    </div>
</body>
</html>