<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url(./newbg.jpg);">
  <h1 style="text-align: center;"> Farmer Invoice</h1>
<diV class="container" style="align-items:center;"">
  <h2> Farmer Details</h2>
  <h4> Name:<%=name%></h4><br>
  <h4> Refrence Number:<%=refno%></h4><br>
  <h4> Slot:II</h4><br>

</div>
<div class="container" style="align-items: center">
  <h2>Slot Shedule</h2>          
  <table class="table table-striped">
    <thead>
      <th>Slot</th>
      <th>Timming</th>
    </thead>
    <tbody>
      <tr>
        <td>I</td>
        <td>10am-12:30pm</td>
      </tr>
      <tr>
        <td>II</td>
        <td>12:30pm-3:00pm</td>
      </tr>
      <tr>
        <td>III</td>
        <td>3:00-5:00pm</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
